# Node.js

node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build e cache
dist/
build/
.cache/
.next/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.swp

# Docker
docker-compose.override.yml

# Outros
*.local
