@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  @supports (text-wrap: balance) {
    .text-balance {
      text-wrap: balance;
    }
  }
}

.markdown h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.markdown h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.markdown p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.markdown li {
  margin-bottom: 0.5rem;
}
